/* ConstructBuilding */
pre.fixedStyles code {
    font-size: 10px;
}

.constructBuilding {
    display: grid;
    grid-template-rows: 18px auto;

    .parts {
        overflow: scroll;

        .part {
            margin-top: 5px;
            padding: 4px;
            background-color: #354158;
            border-top: 1px solid #505e78;
            border-left: 1px solid #505e78;
            border-bottom: 1px solid #222D46;
            border-right: 1px solid #222D46;
        
            display: grid;
            grid-template-columns: 14px 1fr;

            .iterator {
                font-family: monospace;
                margin-right: 8px;
                display: inline-block;
                align-self: center;
            }

            .id {
                color: #fb9191;
                margin-left: 4px;

                &:hover {
                    cursor: pointer;
                    background-color: #6570aa;
                }
            }

            .class {
                color: #94f794;
                margin-left: 4px;

                &:hover {
                    cursor: pointer;
                    background-color: #6570aa;
                }
            }
        }
    }
}
