html, body {
    padding: 0;
}

html, body, #root, .App {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.App {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;

    padding: 10px;
    background-color: #313d52;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Container */
.container {
    border-top: 1px solid #63616e;
    border-left: 1px solid #63616e;
    border-bottom: 1px solid #888597;
    border-right: 1px solid #888597;
    padding: 5px;
    margin: 1px;
    background-color: #2b3548;
}

.container h2 {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #dbdadf;
}

.heading h2 {
    display: inline-block;
}

.heading button {
    margin-left: 16px;
    background-color: #2b3548;
    border-top: none;
    border-left: none;
    color: #bdcff9;
    border-bottom: 1px solid #60687a;
    border-right: 1px solid #60687a;
}

.heading button:hover {
    cursor: pointer;
    background-color: #475a7c;
}

.heading label {
    font-size: 12px;
    margin-left: 8px;
}

.heading .color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
}




