.container {
    border-top: 1px solid #63616e;
    border-left: 1px solid #63616e;
    border-bottom: 1px solid #888597;
    border-right: 1px solid #888597;
    padding: 5px;
    margin: 1px;
    background-color: #2b3548;

    h2 {
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        color: #dbdadf;
    }
}

.page {
    display: grid;    

    padding: 10px;
    background-color: #313d52;
    color: white;
    height: 100%;
    box-sizing: border-box;
}

.styles-missions {
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
}

.styles-sandbox {
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
}

.two-rows {
    grid-row-end: span 2;
}