/* ViewBuilding */
div.viewBuilding {
    // background-color: Lavender;
    background: rgb(69,54,33);
    background: linear-gradient(6deg, rgba(69,54,33,1) 0%, rgba(62,137,140,1) 35%, rgba(252,255,211,1) 100%); 

    & > h2 {
        color: black;
        display: flex;
        justify-content: space-between;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttons {
    display: flex;
    column-gap: 10px;

    button:hover {
        cursor: pointer;
    }
}