.mission {
    h1 {
        font-size: 16px;
    }

    code {
        font-size: 14px;
        color: #b896f5;
    }

    .color {
        width: 12px;
        height: 12px;
        display: inline-block;
        border: 1px solid white;
        margin-left: 4px;
    }
}